{% extends "wyshybackNavBundle::Layout.html.twig" %}

{% block menu %}
         <li class=""> <a href="javascript:;"> <i class="fa fa-medkit"></i> <span class="title">Test de Dopage</span> <span class="arrow "></span> </a>
          <ul class="sub-menu">
            <li> <a href="{{path('tft_AddTestDopage')}}"> Nouveau Test de dopage  </a> </li>
             <li> <a href="{{path('tft_ListeTestDopages')}}"> Liste des Tests de dopages  </a> </li>
          </ul>
     
      
{% endblock %}

{% block content %}
<center>


<div class="grid simple">
 <script src="{{ asset('backEnd/assets\plugins\jquery-notifications\css\location-sel.css') }}" type="text/css"></script> 
 <script src="{{ asset('backEnd/assets\plugins\jquery-notifications\css\location-sel.min.css') }}" type="text/css"></script> 
 <script src="{{ asset('backEnd/assets\plugins\jquery-notifications\css\messenger-spinner.css') }}" type="text/css"></script> 
 <script src="{{ asset('backEnd/assets\plugins\jquery-notifications\css\messenger-spinner.min.css') }}" type="text/css"></script> 
 <script src="{{ asset('backEnd/assets\plugins\jquery-notifications\css\messenger-theme-flat.css') }}" type="text/css"></script> 
 <script src="{{ asset('backEnd/assets\plugins\jquery-notifications\css\messenger-theme-flat.css') }}" type="text/css"></script> 

    
    
 <script src="{{ asset('backEnd/assets/plugins/pace/pace.min.js') }}" type="text/javascript"></script> 
    
 <script src="{{ asset('backEnd/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js') }}" type="text/javascript"></script> 
 <script src="{{ asset('backEnd/assets\plugins\jquery-notifications\css\messenger-theme-flat.css') }}" type="text/css"></script> 
 <script src="{{ asset('backEnd/assets/plugins/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>    
<div class="grid-title no-border">
    
              <h4>Liste <span class="semi-bold"> des Tests de dopages</span></h4>
              <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
            </div>
 
<div class="grid-body no-border">
 
<div class="grid simple ">
   <table class="table table-striped" id="example2" >
                <thead>
                  <tr>
                    <th>Libelle</th>
                    <th>Date </th>
                    <th>Heure </th>
                    <th>Modifier</th>
                    <th>Supprimer </th> 
                    
                  </tr>
                </thead>
               
                
    {% for t in Tests %}
                <tbody>
                    <tr class="odd gradeX">
                    <td>{{t.libelletest}}</td>
                    <td>{{t.datetest|date('Y/m/d')}}</td>
                    <td>{{t.heure}}</td> 
                    
                     <td><a href="{{path('tft_UpdateTestDopages',{id:t.idtest})}}" class='btn btn-info btn-small'>Modifier</a></td>
                     <td><a href="{{path('tft_deletTestDopages',{id:t.idtest})}}" onclick="return confirm('Etes-vous sur de supprimer ce test ?')" class='btn btn-danger btn-small'>Supprimer</a></td>
                    </tr>
                </tbody>
    {% endfor %} 
    </table>

</div>    		
</div>
</div>
 
</center>
    

 {% endblock %}
 