{% extends "wyshybackNavBundle::Layout.html.twig" %}
{% block menu %}
    <html>
        <head>
            <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
            


        </head>    
 <li class=""> <a href="javascript:;"> <i class="icon-custom-extra"></i> <span class="title">Stade</span> <span class="arrow "></span> </a>
          <ul class="sub-menu">
            <li > <a href="{{path('tft_addStade')}}"> Ajouter </a> </li>
            <li > <a href="{{path('tft_findStade')}}"> Afficher </a> </li>
          </ul>
        </li>
{% endblock %}
{% block content %}
<center>


<h1 class="light">Formulaire d'ajout <span class="semi-bold">Stade</span></h1>
        

 </center>

 <div class="col-md-10">
              <div class="grid simple">
                <div class="grid-title no-border">
                     <h4>Ajout <span class="semi-bold">Stade</span></h4>
                  <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
                </div>
                <div class="grid-body no-border"> <br>
                  
		<form method="POST" >
                      <div class="form-group">
                        <label class="form-label">Libelle Stade</label>
                        <span class="help">PS: Libelle Unique</span>
				<div class="input-with-icon  right">                                       
				<i class=""></i>
                                 {{form_widget(form.libellestade)}}
				</div>
                      </div>
                      <div class="form-group">
                        <label class="form-label">Ville</label>
			<div class="input-with-icon  right">                                       
			<i class=""></i>
				{{form_widget(form.ville)}}                               
			</div>
                      </div>
                      <div class="form-group">
                        <label class="form-label">Capacite</label>
						<div class="input-with-icon  right">                                       
							<i class=""></i>
                                                        {{form_widget(form.capacite)}}
                                                </div>
                      </div>
                      
                      <div class="form-group">
                        <label class="form-label">Surface</label>
			<div class="input-with-icon  right">                                       
							<i class=""></i>
                                 {{form_widget(form.surface)}}
                        </div>
                      </div>
                     <div class="form-group">
                        <label class="form-label">Date de Creation</label>
                        <div class="input-with-icon  right">                                       
							<i class="col-md-4"></i>
                                {{form_widget(form.datecreation)}}
                        </div>
                      </div>
                                     
				  <div class="form-actions">  
					<div class="pull-right">
                                             {{form_rest(form)}}
                                            <button type="cancel" class="btn btn-white btn-cons">Cancel</button>
					</div>
					</div>
				</form>
                </div>
              </div>
            </div>
                                           
            </html>
 {% endblock %}
