{% extends "wyshybackNavBundle::Layout.html.twig" %}
{% block titre %}
    <title>Detail</title>
    {% endblock %}
{% block menu %}
        <li class=""> <a href="widgets.html"> <i class="fa fa-th"></i> <span class="title">Competitions</span> <span class="arrow "></span></a> 
                         <ul class="sub-menu">
                            <li > <a href="{{path('wyshyback_nav_AfficherComp')}}"> Lise des competitions </a> </li>
                            <li > <a href="{{path('wyshyback_nav_AjouterComp')}}">Ajouter une nouvelle</a> </li>
                          </ul>
                     
                     </li>
        <li class=""> <a href="widgets.html"> <i class="fa fa-th"></i> <span class="title">Competitions</span> <span class="arrow "></span></a> 
                         <ul class="sub-menu">
                            <li > <a href="{{path('wyshyback_nav_AfficherComp')}}"> Lise des competitions </a> </li>
                            <li > <a href="{{path('wyshyback_nav_AjouterComp')}}">Ajouter une nouvelle</a> </li>
                          </ul>
                     
                     </li>
                     <li class=""> <a href="widgets.html"> <i class="fa fa-th"></i> <span class="title">Competitions</span> <span class="arrow "></span></a> 
                         <ul class="sub-menu">
                            <li > <a href="{{path('wyshyback_nav_AfficherComp')}}"> Lise des competitions </a> </li>
                            <li > <a href="{{path('wyshyback_nav_AjouterComp')}}">Ajouter une nouvelle</a> </li>
                          </ul>
                     
                     </li>
      
{% endblock %}

{% block content %}
  

{% endblock %}