{% extends "wyshybackNavBundle::Layout.html.twig" %}


{% block content %}
<center>
<h1> Liste des joueurs a inviter </h1>

<div class="grid simple">
    
<div class="grid-title no-border">
  
   <div class="tools"> 
        <a href="javascript:;" class="collapse"></a>  
        <!-- <a href="javascript:;" class="remove"></a> -->
    </div> 
   
</div>
 
<div class="grid-body no-border">
 
<div class="grid simple ">
    <form method="POST" action={{ path('tft_InviterPlayerTest') }}>
   <table class="table table-striped" id="example2" >
                <thead>
                    <tr><th></th>
                     <th>Nom</th>
                    <th>Prenom </th>
                    <th>E-mail </th>
                    <th>Sexe </th> 
                    <th>Date de naissance</th>
          
                
                  </tr>
                </thead>
               
                
    {% for p in Personnes %}
                <tbody>
                    <tr class="odd gradeX">
   
                    <td> <input type="checkbox" checked="true" hidden="true" name="mesids[]" value={{p.idpersonne}} /> </td> 
                    <td>{{p.nom}} </td>
                    <td>{{p.prenom}} </td>
                    <td>{{p.email}}</td>
                    <td>{{p.sexe}}</td>
                    <td>{{p.datenaissance|date('Y/m/d')}}</td>
               

                  </tr>
                </tbody>
    {% endfor %} 
    </table>
 {{form_rest(form)}} 
    </form>
</div>    		
</div>
</div>
    
   
</center>
    

 {% endblock %}
 