{% extends "wyshybackNavBundle::Layout.html.twig" %}
{% block menu %}
  
 <li class=""> <a href="javascript:;"> <i class="fa fa-file-text"></i> <span class="title">Dossier Medical</span> <span class="arrow "></span> </a>
          <ul class="sub-menu">
            <li > <a href="{{path('tft_addDossier')}}"> Ajouter </a> </li>
            <li > <a href="{{path('tft_ListerDossier')}}"> Afficher </a> </li>
          </ul>
        </li>
{% endblock %}
{% block content %}
    
<center>


     
 <fieldset  style="width:800px;">
<h1 class="light">Modification Dossier <span class="semi-bold"> Medical</span></h1>
        

</fieldset>
<br>
  <div class="grid simple">
            <div class="grid-title no-border">
              <h4>Modification<span class="semi-bold">Dossier</span></h4>
              <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
            </div>
            <div class="grid-body no-border">
		 <form method='POST' action="{{path('tft_UpdateDossier',{iddossier:Dossier.iddossier})}}" >		
              <div class="row column-seperation">
                <div class="col-md-6">
                    <h4>Information Generale</h4> <br><br> 
                    <div class="row form-row">
                      <div class="col-md-5">
                       <h5>Joueur <span class="semi-bold"> Nom</span></h5> {{form_widget(form.Personne,{'attr':{'class':'form-control'}})}}
                      </div>
                      <div class="col-md-7">
                  <h5>Taille <span class="semi-bold"> Joueur</span></h5> {{form_widget(form.taille,{'attr':{'class':'form-control'}})}}
                        
                      </div>
                    </div>
                    <div class="row form-row">
                      <div class="col-md-5">
                     <h5>Situation  <span class="semi-bold"></span></h5> {{form_widget(form.situation,{'attr':{'class':'form-control'}})}}
                    </div>
                      <div class="col-md-7">
                       <h5>Poid <span class="semi-bold"> Joeuur</span></h5> {{form_widget(form.poid,{'attr':{'class':'form-control'}})}}
                      </div>
                    </div>
                    <div class="row form-row">
                      <div class="col-md-12">
                  <h5>Nombre <span class="semi-bold"> d'enfant</span></h5> {{form_widget(form.nbenfant,{'attr':{'class':'form-control'}})}}
                      </div>
                    </div>
                    <div class="row form-row">
                      <div class="col-md-12">
                         <span class="semi-bold"> Nom et Prenom de pere</span>   {{form_widget(form.nomprenompere,{'attr':{'class':'form-control'}})}}
                     
                       </div>
                    </div>
                    <div class="row form-row">
                      <div class="col-md-12">
                    <span class="semi-bold">Nom et Prenom de la mere</span>{{form_widget(form.nomprenommere,{'attr':{'class':'form-control'}})}}
                    
                      </div>
                    </div>
                </div>
                <div class="col-md-6">
				
                  <h4> Informations Medicaux</h4>
                  <br>
                    <div class="row form-row">
                      <div class="col-md-12">
                    <h5>Date  <span class="semi-bold"> derniere visite</span></h5>{{form_widget(form.datederniervisite,{'attr':{'class':'form-control'}})}}
                      
                      </div>
                    </div>
                    <div class="row form-row">
                      <div class="col-md-6">
                     <h5>Libelle <span class="semi-bold"> Test</span></h5>{{form_widget(form.Test,{'attr':{'class':'form-control'}})}}
                       </div>
                      <div class="col-md-6">
                      <h5>Maladie <span class="semi-bold"> </span></h5>{{form_widget(form.maladie,{'attr':{'class':'form-control'}})}}
                      </div>
                    </div>
                    <div class="row form-row">
                      <div class="col-md-8">
                         <h5>Raison  <span class="semi-bold"> de derniere visite</span></h5>{{form_widget(form.raisonvisite,{'attr':{'class':'form-control'}})}}
                      </div>
                      <div class="col-md-4">
                      <h5>Type de  <span class="semi-bold">Sang</span></h5> {{form_widget(form.sang,{'attr':{'class':'form-control'}})}} 
                      </div>
                    </div>
                    <div class="row form-row">
                      <div class="col-md-4">
                        <h5>Rediger <span class="semi-bold">un commentaire</span></h5>{{form_widget(form.commentaire,{'attr':{'class':'form-control'}})}} 
                      </div>
                      <div class="col-md-8">
                       <h5>Fumeur <span class="semi-bold"> -</span></h5>{{form_widget(form.fumeur)}}   
                      </div>
                    </div>
                    <div class="row small-text">
                         {{form_rest(form)}} 
					<p class="col-md-12">
					PS : Il faut que chaque dossier medical soit affecte a un seul joueur  
                                        </p>
                    </div>
                      
             
                </div>
              </div>
				
                      
                       
			</form>
                
            </div>

    </div>
</center>
  <center>

 </center>
 {% endblock %}
