<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>WT TENNIS</title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

<meta name="author" content="Corsini Alessio" />
<meta name="keywords" content="Tennis, club, events, football, golf, non-profit, betting assistant, football,fitness, tennis, sport, soccer, goal, sports, volleyball, basketball,	charity, club, cricket, football, hockey, magazine, non profit, rugby, soccer, sport, sports, tennis" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <link href="{{ asset('frontEnd/css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
    <!--<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />-->
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,700,600,300' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,300,200,500,600,700,800,900' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

    <link href="{{ asset('frontEnd/css/fonts/font-awesome-4.1.0/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
    <!--Clients-->
    <link href="{{ asset('frontEnd/css/own/owl.carousel.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('frontEnd/css/own/owl.theme.css') }}" rel="stylesheet" type="text/css" />


    <link href="{{ asset('frontEnd/css/jquery.bxslider.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('frontEnd/css/jquery.jscrollpane.css') }}" rel="stylesheet" type="text/css" />
    
    <link href="{{ asset('frontEnd/css/minislide/flexslider.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('frontEnd/css/component.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('frontEnd/css/prettyPhoto.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('frontEnd/css/style_dir.css') }}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" type="{{ asset('frontEnd/image/png') }}" href="{{ asset('frontEnd/img/favicon.ico') }}" />
    <link href="{{ asset('frontEnd/css/responsive.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('frontEnd/css/animate.css') }}" rel="stylesheet" type="text/css" />

</head>
<body>
<!--SECTION TOP LOGIN-->
{% block contentconnexion %}
     <section class="content-top-login">
           <div class="container">
      <div class="col-md-12">
           <div class="box-support"> 
             <p class="support-info"><i class="fa fa-envelope-o"></i> info@wttennis.com</p>
          </div>
           <div class="box-login"> 
             
             
          </div>
          </div>
      </div>
     </section>
          {% endblock %}
      <!--SECTION MENU -->
     <section class="container box-logo">
        <header>
           <div class="content-logo col-md-12">
          <div class="logo"> 
            <img src="{{ asset('frontEnd/img/logo2.png') }}" alt="" />
          </div>
          
          <div class="bt-menu"><a href="#" class="menu"><span>&equiv;</span> Menu</a></div>

         <div class="box-menu">
            
            <nav id="cbp-hrmenu" class="cbp-hrmenu">
					    <ul id="menu">    
                            <li><a class="lnk-menu active" href="index.html">Home</a></li>
                            <li>
								<a class="lnk-menu" href="#">Pages</a>
                                <div class="cbp-hrsub sub-little">
                                  <div class="cbp-hrsub-inner"> 
                                      <div class="content-sub-menu">
								        <ul class="menu-pages">
									        <li><a href="tournaments.html"><span>Tournaments</span></a></li>
									        <li><a href="login.html"><span>Login</span></a></li>
									        <li><a href="news.html"><span>News</span></a></li>
                                            <li><a href="single_news.html"><span>Single News</span></a></li>
									        <li><a href="results.html"><span>Results</span></a></li>
                                            <li><a href="players.html"><span>Players</span></a></li>
                                            <li><a href="single_player.html"><span>Single Player</span></a></li>
                                            <li><a href="matches.html"><span>Matches</span></a></li>
                                            <li><a href="match.html"><span>Single Match</span></a></li>
                                       {#     <li><a href="{{path('')}}"><span> Reclammations</span></a></li>#}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
							</li>
						<li><a class="lnk-menu" href="players.html">Players</a></li>
                        <li><a class="lnk-menu" href="results.html">Results</a></li>
						<li><a class="lnk-menu" href="news.html">News</a></li>
                        <li><a class="lnk-menu" href="contact.html">Contact</a></li>
                        
					</ul></nav>
              </div>
			</div>
	    </header>
     </section>
                                          
                                            <section class="drawer">
            <div class="col-md-12 size-img back-img-news">
                    <div class="effect-cover">
                        <h3 class="txt-advert animated">Les dernieres Actualites</h3>
                        <p class="txt-advert-sub animated">Restez Toujours Proche Du Monde Du Tennis </p>

                    </div>
              </div>
        
    </section>
                                            
                                            
                                            
     
                                          
                                           
        <section id="single_news" class="container secondary-page">
              <div class="general general-results">
        <img height="150" src="{{asset('uploads/documents/blanc.jpg') }}" />  
      
                  <img width="600" height="600" class="img-djoko" src="{{asset('uploads/documents/'~a.path) }}" />  

           <div class="top-score-title col-md-9">
                <h3>{{a.sujet}}<span class="point-little">.</span></h3>
 
                 <p class="desc_news"> {{a.description}} </p>
               
                

                <p class="desc_news important_news data">By Wishy Team (Responsable: chams) <i class="fa fa-calendar"></i>{{ a.datepublication|date('d - m -Y') }} - Tunis, Tunisie</p>

                                <div class="other-news">
                                </div>
                
              
                
                       
                       </div>

                
              
        </section>
        
        
     <!--FOOTER-->   
    <section id="footer-tag">
           <div class="container">
             <div class="col-md-12">
              <div class="col-md-3">
                 <h3>About Us</h3>
                 <p>Thank you for visiting tennisclub.com. Our mission is to 
                 provide unrivalled and unbiased informative and resources to help any sports fan who enjoys a flutter make informed and value led decisions.</p>
                 <p>Our mission is to 
                 provide unrivalled and unbiased informative, resources to help any sports fan who enjoys a flutter make.</p>
              </div>
              <div class="col-md-3 cat-footer">
                <div class="footer-map"></div>
                <h3 class='last-cat'>Categories</h3>
                <ul class="last-tips">
                  <li><a href="tournaments.html">Tournaments</a></li>
                  <li><a href="results.html">All Results</a></li>
                  <li><a href="matches.html">Matches London ATP</a></li>
                  <li><a href="matches.html">Double ATP</a></li>
                  <li><a href="matches.html">Double WTP</a></li>
                  <li><a href="shops.html">Shop Best Price</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                 <h3>Last News</h3>
                 <ul class="footer-last-news">
                    <li><img src="images/1/1.jpg" alt="" /><p>Fusce risus metus, placerat in consectetur eu...</p></li>
                    <li><img src="images/1/2.jpg" alt="" /><p>Fusce risus metus, placerat in consectetur eu...</p></li>
                    <li><img src="images/1/3.jpg" alt="" /><p>Fusce risus metus, placerat in consectetur eu...</p></li>
                 </ul>
              </div>
              <div class="col-md-3 footer-newsletters">
                <h3>Newsletters</h3>
                <form method="post">     
                    <div class="name">
                        <label for="name">* Name:</label><div class="clear"></div>
                        <input id="name" name="name" type="text" placeholder="e.g. Mr. John Doe" required=""/>
                    </div>
                    <div class="email">
                        <label for="email">* Email:</label><div class="clear"></div>
                        <input id="email" name="email" type="text" placeholder="example@domain.com" required=""/>
                    </div>
                    <div id="loader">
                                <input type="submit" value="Submit"/>
                        </div>
                </form>
              </div>
              <div class="col-xs-12">
                <ul class="social">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="#"><i class="fa fa-digg"></i></a></li>
                      <li><a href="#"><i class="fa fa-rss"></i></a></li>
                      <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                      <li><a href="#"><i class="fa fa-tumblr"></i></a></li>

                    </ul>
              </div>
             </div>
           </div>
    </section>
    
    
    <footer>
           <div class="col-md-12 content-footer">
		<p>© 2015 - 2016 Developped By Team Mywhyshy. </p>
      </div>
	</footer>
<script src="{{ asset('frontEnd/js/jquery-1.10.2') }}" type="text/javascript"></script>

<script src="{{ asset('frontEnd/js/jquery-migrate-1.2.1.min.js') }}" type="text/javascript"></script>

<!--MENU-->
<script src="{{ asset('frontEnd/js/menu/modernizr.custom.js') }}" type="text/javascript"></script>

<script src="{{ asset('frontEnd/js/menu/cbpHorizontalMenu.js') }}" type="text/javascript"></script>

<!--END MENU-->
<!-- Button Anchor Top-->
 <script src="{{ asset('frontEnd/js/js/jquery.ui.totop.js') }}" type="text/javascript"></script>


 <script src="js/custom.js" type="text/javascript"></script>
 <script src="{{ asset('frontEnd/js/js/custom.js') }}" type="text/javascript"></script>

</body>

</html>
