{% extends "FOSUserBundle::index.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <div class="form-group">
            
             <!-- Login field -->
             
                        <label for="username" class="cols-sm-2 control-label">{{ 'Nom de compte'|trans }}</label>
		<div class="cols-sm-10">
			<div class="input-group">
			<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
		
                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Enter your Username"/>
					</div>
				</div>
						</div>
    
    {#<label for="username">{{ 'security.login.username'|trans }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />#}

     <!-- Password field  -->
    
    <div class="form-group">
		<label for="password" class="cols-sm-2 control-label">{{ 'Mot de passe'|trans }}</label>
			<div class="cols-sm-10">
				<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
			 <input type="password"class="form-control"  id="password" name="_password" required="required" placeholder="***********" />
                                </div>
				</div>
			</div>

    
    
    
    
   {# <label for="password">{{ 'security.login.password'|trans }}</label>
    <input type="password" id="password" name="_password" required="required" />
#}
   
    <!-- Remember me action -->
    
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'Se souvenir de moi'|trans }}</label>
    
    
     <!-- Login action -->
     
	<div class="form-group ">
	  <input type="submit" class="btn btn-primary btn-lg btn-block login-button cols-sm-10" id="_submit" name="_submit" value="{{ 'Connexion'|trans }}" />
        </div>
        
        <!-- Registration redirection -->
                                        <div class="login-register btn btn-primary  btn-block login-button">
                                            <a href="index.php">Inscription</a>
				         </div>
    
</form>
{% endblock fos_user_content %}
